# Siwanont Sittinam
# File .gitignore

# .PYC
andonpy/*.pyc
andonpy/lib/*.pyc

# __pycache__/
andonpy/__pycache__/
andonpy/lib/__pycache__/

# General By
example/
temp/

# Config File
andonpy/config.py

# Node Module
andonnode/node_modules/
