
# Siwanont Sittinam
# File .gitignore

# PYC File
python/*.pyc
python/lib/*.pyc

# __pycache__/ Directory
python/__pycache__/
python/lib/__pycache__/

# General By
example/
temp/

# Config File
python/lib/config.py