# Siwanont Sittinam
# File .gitignore

# PYC File
python/andonpy/*.pyc
python/andonpy/lib/*.pyc

# __pycache__/ Directory
python/andonpy/__pycache__/
python/andonpy/lib/__pycache__/

# General By
example/
temp/

# Config File
python/andonpy/lib/config.py

# Node Module
nodejs/node_modules/
nodejs/myapp/node_modules/
